$color-blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);
$color-silver: silver;
$width-responsive: 600px;

body {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    
}
@mixin placeholder {
    padding:1rem;
    padding-right: 12rem;
    border: 1px solid $color-silver;
    border-radius: 20px; 
}
@mixin button {
    padding:1rem 3em;
    
    border: 1px solid $color-blue;
    border-radius: 20px; 
    background-color: $color-blue;
    text-align: center;
   
     
    
     }


.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90px;
    padding-top: 4rem;
    padding-bottom: 2rem;

}
.container{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    
    &__soon--title{
        color:$gray ;
        font-weight: 80;
    }

}

.form{
    display: flex;
    justify-content: center;

     &__input-div{
         margin-right: 2%;
     }
     &__input-div--email
     {
        @include placeholder;
     }

     
     &__button-div{
        margin-right: 2%;
    }
    &__button-div--submit
    {
        @include button;
        &:hover{
            background-color: $pale-blue;
        }
        
    
    }


}
 .dash{
   
        display: flex;
        justify-content: center;
        &__board--img{
            width: $width-responsive;
        }
     

}

 #social{

        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
        padding-bottom: 2%; 
         .fab{
              margin-right: 2%;
              &:hover{
                  background-color: $pale-blue;
              }
         } 
         color:$color-blue  ; 
         i{
            font-size: 1rem;
            color:$color-blue ;
            border: .5px solid ;
            padding: .5rem;
            border-radius: 100%;
            margin: .5rem;
        } 

}

 h4{
    display: flex;
    justify-content: center; 
    font-size: 15%;
    margin: 1%;
    color: $gray;
    font-weight: normal;
    font-size: 60%;     

}

.attribution {
    font-size: 10px;
    padding: 0;
    color: $color-blue;
    a{
     text-decoration: none;
     color: $color-blue;
     

    }
     }
    
 
  


@media only screen and (max-width: 600px) {

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
         &__input-div{
             margin-right: 2%;
             margin-left: 8%;
            
         }
        
         
         &__button-div{
            margin-right: 2%;
            margin-top: 10px;
            margin-left: 8%;
           
        }
        &__button-div--submit
        {
           width: 370px;
           
            
        
        }
    
    
    }

    .dash{
        display: flex;
        justify-content: center;
        &__board--img{
            width: 370px;
        }
    }
   
    
    }